* {
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'GothamPro', sans-serif;
}
@font-face {
    font-family: 'GothamPro';
    src: url(../fonts/GothamPro.ttf);
}
@font-face {
    font-family: 'GothamPro-Light';
    src: url(../fonts/GothamPro-Light.ttf);
}
@font-face {
    font-family: 'GothamPro-Medium';
    src: url(../fonts/GothamPro-Medium.ttf);
}
@font-face {
    font-family: 'GothamPro-Bold';
    src: url(../fonts/GothamPro-Bold.ttf);
}

.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1400px;
    position: absolute;
    z-index: 2;
    left: 10%;
    top: 10px;
}
.main_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_nav li{
    list-style: none;
    margin-left: 80px;
}
.main_nav li a {
    text-decoration: none;
    font-family: 'GothamPro-Bold';
    color: white;
    font-size: 20px;
}
.head_telephone {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.head_telephone p {
    font-family: 'GothamPro-Bold';
    font-size: 18px;
    color: #444;
}
 a {
    font-size: 15px;
    color: white;
    text-decoration: underline;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 50px;
    left: 0;
    width: 100%;
}
.swiper-container::after {
    content: '';
    display: block;
    height: 45px;
    width: 133px;
    background-image: url(../img/click.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    left: 48%;
    bottom: 40px;
    position: absolute;
    z-index: 2;
}
/* SLIDER */
html,
body {
  position: relative;
  height: 100%;
}

.swiper-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../img/header-back.png);
  background-repeat: no-repeat;
  background-position-y: 80%;
  background-size: cover;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination {
    color: white;
    display: flex;
    justify-content: flex-start;
    margin-left: 150px;
}
.swiper-pagination > span {
    height: 10px;
    width: 65px;
    border-radius: 0%;
}
.swiper-pagination-bullets > .swiper-pagination-bullet-active {
    background: white;
}
.swiper-pagination-bullets > .swiper-pagination-bullet-active {
    background: white;
    width: 90px;
}
.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background: #e9bb00;
    opacity: 1;
}
/* SLIDER END */
aside {
    height: 100%;
    width: 100px;
    position: absolute;
    z-index: 2;
    right: 0;
    background: url(../img/aside.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.aside-label {
    display: block;
    height: 10%;
    width: 100px;
    background: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2;
}
.label-line {
    margin-top: 8px;
    margin-bottom: 8px;
}
.aside-label > span {
    display: block;
    width: 28px;
    height: 5px;
    background: white;
}
.aside-input {
    display: none;
}
.aside-main {
    height: 80vh;
}
.recording {
    display: block;
    height: 10vh;
    width: 100px;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.aside-input:checked ~ .recording {
    display: none;
}
.aside-tel {
    display: none;
}
.aside-input:checked ~ .aside-tel{ 
    height: 10%;
    width: 500px;
    position: absolute;
    right: 0px;
    top: 0;
    background-color: black;
}

.aside-input:checked ~ .aside-block {
    display: block;
    height: 90%;
    width: 500px;
    position: absolute;
    right: 0px;
    top: 10%;
    background: url(../img/aside2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.aside-block {
    display: none;
}
.aside-icons img {
    height: 40px;
    margin-bottom: 50px;
}
.aside-icons img:first-child {
    margin-top: 62px;
}
.aside-icons img:last-child {
    margin-bottom: 180px;
}
.aside-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aside-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.aside-links > a {
    color: black;
    font-family: 'GothamPro-Medium';
    font-size: 12px;
    margin-bottom: 50px;
    text-decoration: none;
}
.aside-links > a:last-child {
    margin-bottom: 70px;
}
.aside-main p {
    display: block;
    width: 100%;
    text-align: center;
}
.aside-tel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.aside-tel > .head_telephone > p {
    color: white;
    margin-left: 50px;
}
/* body {
    display: flex;
    justify-content: flex-end;
}
.accord-item {
    height: 300px;
    width: 30px;
    background-color: bisque;
    position: relative;
}
.wee {
    display: none;
}

.accord-input {
    display: none;
    
}
.accord-input:checked ~ .accord-item{
    width: 300px;
    height: 300px;
    background-color: aqua;
} */